{
    "resume_from_checkpoint": "latest",
    "data_backend_config": "config/deku.json",
    "aspect_bucket_rounding": 2,
    "seed": 42,
    "minimum_image_size": 0,
    "output_dir": "/home/azureuser/cloudfiles/code/deku_lora_output_2",
    "lora_type": "standard",
    "push_to_hub": true,
    "push_checkpoints_to_hub": true,
    "max_train_steps": 3000,
    "num_train_epochs": 0,
    "checkpointing_steps": 100,
    "checkpoints_total_limit": 120,
    "hub_model_id": "deku-standard-lora-1",
    "model_type": "lora",
    "pretrained_model_name_or_path": "black-forest-labs/FLUX.1-dev",
    "model_family": "flux",
    "train_batch_size": 48,
    "gradient_checkpointing": true,
    "caption_dropout_probability": 0,
    "resolution_type": "pixel_area",
    "resolution": 1024,
    "validation_seed": 42,
    "validation_steps": 100,
    "validation_resolution": "1024x1024",
    "validation_guidance": 3.5,
    "validation_guidance_rescale": 0.0,
    "validation_num_inference_steps": 20,
    "allow_tf32": true,
    "mixed_precision": "bf16",
    "optimizer": "adamw_bf16",
    "learning_rate": 5e-5,
    "lr_scheduler": "constant",
    "lr_warmup_steps": 100,
    "base_model_precision": "int8-quanto",
    "gradient_accumulation_steps": 1,
    "lora_rank": 128,
    "webhook_config": "webhook.json",
    "model_card_safe_for_work": true,
    "compress_disk_cache": true,
    "user_prompt_library": "config/user_prompt_library.json"
}